@font-face {
  font-family: 'FranckerCYR';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/FranckerCYR-Regular.woff2') format('woff2'),
    url('../fonts/FranckerCYR-Regular.woff') format('woff');
  font-display: swap;
}
// @font-face {
//   font-family: 'FranckerCYR-Light';
//   font-weight: 300;
//   font-style: normal;
//   src:
//     url('../fonts/FranckerCYR-Light.woff2') format('woff2'),
//     url('../fonts/FranckerCYR-Light.woff') format('woff');
//   font-display: swap;
// }
@font-face {
  font-family: 'FranckerCYR';
  font-weight: 300;
  src:
    url('https://nomail.com.ua/files/woff/5848d1ef32ba761f525af380bc1843e2.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'FranckerCYR';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/FranckerCYR-Semibold.woff2') format('woff2'),
    url('../fonts/FranckerCYR-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/gilroy-light.woff2') format('woff2'),
    url('../fonts/gilroy-light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/gilroy-regular.woff2') format('woff2'),
    url('../fonts/gilroy-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'display';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/sfns-display-bold.woff2') format('woff2'),
    url('../fonts/sfns-display-bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src:
    url('../fonts/gilroy-medium.woff2') format('woff2'),
    url('../fonts/gilroy-medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Prosto One';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/ProstoOne-Regular.woff2') format('woff2'),
    url('../fonts/ProstoOne-Regular.woff') format('woff');
  font-display: swap;
}