.content {
  @media (max-width: $md) {
    margin-bottom: 60px;
  }

  @media (max-width: $xs) {
    margin-bottom: 30px;
  }

  &__items {
    flex-wrap: wrap;

    @media (max-width: $xl) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    max-width: 500px;
    min-height: 685px;
    margin-right: 60px;

    @media (max-width: $md) {
      margin-right: 0;
      min-height: 535px;
    }

    @media (max-width: $md) {
      margin-right: 0;
      min-height: 445px;
    }

    &:not(:last-child) {
      margin-bottom: 115px;

      @media (max-width: $md) {
        margin-bottom: 40px;
      }
    }

    &:nth-child(3n+3) {
      margin-right: 0;

      @media (max-width: $xl) {
        margin-right: 60px;
      }

      @media (max-width: $md) {
        margin-right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 0;
      width: 151px;
      height: 84px;
      border: none;
      border-top: 1px solid #087DEA;
      border-right: 1px solid #087DEA;

      @media (max-width: $bs) {
        width: 84px;
      }

      @media (max-width: $md) {
        top: 0;
        right: -10px;
      }

      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  .frame {
    margin: 0 auto 15px;

    &::after {
      position: absolute;

      @media (max-width: $xs) {
        left: 9px;
        background-size: 100%;
      }
    }

    &::before {
      position: absolute;

      @media (max-width: $xs) {
        top: -13px;
        left: -3px;
        background-size: 100%;
      }
    }
  }

  .process__image {

    @media (max-width: $xs) {
      width: 301px;
      height: 186px;
      left: -1px;
      top: 5px;
      border-radius: 52.9px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 54px;
    }
  }

  .process__list {
    margin-left: -25px;

    @media (max-width: $md) {
      margin-left: 0;
    }
  }

  .process__btn {
    margin-left: 75px;

    @media (max-width: $md) {
      margin: 0 auto;
    }
  }
}